<h1>여기는 첫페이지입니다.</h1>
<a href="/attack">공격</a>
<a href="/defense">방어</a>

<form action="/attack" method="get">
  <input type="text" name="userA"><br>
  <input type="text" name="userB"><br>
  <input type="submit" value="Submit">
</form>
